<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid row">
      <div class="col-xs-4">
      </div>
      <div class="col-xs-4">
        <h3 class="navbar-text hidden-xs hidden-sm"><strong>MyBooks Application</strong></h3>
        <h3 class="navbar-text visible-xs visible-sm"><strong>MyBooks</strong></h3>
      </div>
      <div class="col-xs-4">
      </div>
    </div>
</nav>

{{outlet}}
