<!-- Component: BookList -->
<div class="row">
  {{#each books as |book|}}
    {{book-card image=book.image title=book.title author=book.author description=book.description isReadChanged=(action 'isReadChanged')}}
  {{/each}}

</div>
