<!-- Component: BookList -->
<div class="row">
  <!-- Component: Book -->
  {{book-card image="got.jpg" title="Game of Thrones" author="George Martin" description="Here is the first volume in George R. R. Martin’s magnificent cycle of novels that includes A Clash of Kings and A Storm of Swords."}}
  {{book-card image="lotr.jpg" title="The Lord of the Rings" author="J.R.R. Tolkien" description="In ancient times the Rings of Power were crafted by the Elven-smiths, and Sauron, the Dark Lord, forged the One Ring, filling it with his own power so that he could rule all others."}}
</div>
